.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(116, 103, 103, 0.856);
  backdrop-filter: blur(5px);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal-content {
  background-color: rgba(82, 78, 78, 0.3);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);

  max-width: 600px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
}
